.header {
  padding-top: var(--span-l);
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (min-width: 1960px) {
    padding-left: 15%;
    padding-right: 15%;
  }

  &__wrapper {
    display: flex;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
  }
}
