.header {
  padding-top: var(--span-m);
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (min-width: 1960px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media only screen and (max-width: 1440px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  &__wrapper {
    display: flex;
  }

  &__link {
    text-transform: capitalize;
    font-family: var(--Poppins);
    font-size: var(--size-m);
    font-weight: var(--weight-xlg);
    line-height: 25px;
    text-decoration: none;
    color: var(--grayish-violet);
  }

  &__extras {
    display: flex;
    align-items: center;
    gap: var(--span-m);
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
  }
}
