.nav {
  margin-left: var(--span-xl);
  margin-right: auto;
  align-self: center;

  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: var(--span-m);
  }

  &__link {
    text-transform: capitalize;
    font-family: var(--Poppins);
    font-size: var(--size-m);
    font-weight: var(--weight-xlg);
    line-height: 25px;
    text-decoration: none;
    color: var(--grayish-violet);
    transition: all 300ms;

    &:hover {
      color: var(--very-dark-violet);
    }
  }
}
