.about {
  &__item {
    background: var(--white);
    border-radius: 8px;
    padding: var(--span-xs) var(--span-m);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__extras {
    margin-left: auto;
    display: flex;
    gap: var(--span-m);
    align-items: center;
  }

  &__link {
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
    text-align: left;

    &--original {
      color: var(--very-dark-blue);
    }

    &--shortened {
      color: var(--cyan);
    }
  }
}
